body{
    background: #F2F2F2;
}

p{
    font-family: 'Open Sans', sans-serif;
}

.navbar-brand{
    font-family: 'Lobster', cursive;
    font-size: 30px;
    color: white !important;
    margin-top: 4px;
}

.nav-link{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: white !important;
}

.nav-link:hover{
    background-color: white;
    color: #000 !important;
    transition: 0.5s;
}

.active .nav-link{
    background-color: white;
    color: #000 !important;
}

#caption{
    font-family: 'Bad Script', cursive;
    font-size: 26px;
    font-weight: bold;
    margin-top: 1%;
}

header{
    position: relative;
    z-index: 1000000;
}

.navbar{
    background: rgba(0, 0, 0, 0.5);
    padding-top: 0px;
    padding-bottom: 0px;
    height: 50px;
}

#button-toggler{
    background: #F2F2F2;
    margin-top: -12px;
    width: 55px;
}

.banner{
    position: relative;
    top: 0;
    width: 100%;
    height: 100vh;
    background: url(../../images/city-landing.jpg);
    background-attachment: fixed;
    background-size: cover; 
}

.banner:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background: linear-gradient(#000, transparent);
    pointer-events: none;
}

.height100p{
    height: 100vh;
}

.height{
    height: 100%;
}

.contentBox{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    margin-top: 52px; 
}

.section-about{
    background: white;
}

.section-projects{
    margin-top: 2%;
    background: white;
}

.card-img-top{
    height: 300px;
}

.section-skills{
    margin-top: 2%;
    background-image: radial-gradient(circle, #4ba2bd, #398aa8, #287392, #155c7d, #004767);
    color: white;
}

.section-contact{
    margin-top: 2%;
    position: relative;
    background: url(../../images/contact-background\ \(2\).jpg);
    width: 100%;
    height: 90vh;
    background-attachment: fixed;
    background-size: cover;
}

#about-me-box{
    padding: 20px;
}

.image-box-project{
    padding-top: 15px;
    margin-top: 45px;
    margin-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px; 
}

.box-project{
    margin-top: 45px;
    margin-bottom: 30px;
}

.box-project a{
    background: #000;
    color: white;
}

.skills-box{
    margin-top: 5%;
    margin-bottom: 25%;
    padding: 20px;
}

.skills-height{
    margin-top: 4%;
}

ul.style-ul{
    list-style-type: square;
}

.contactHeader{
    margin-top: 20%;
    color: white;
}

.contact-me-box{
    margin-top: 15%;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background: rgba(0, 0, 0, 0.4);
}

.home-nav{
    margin-top: 10%;
}

.button-up{
    border-radius: 50px;
    padding: 14px;
}

footer{
    background: #3B3C36;
}

footer ul{
    list-style-type: none;
}

footer a{
    color: white;
}

footer a:hover{
    color: white;
}

@media screen and (max-width: 1024px){
    #about-me-box{
        padding: 10px;
    }

    #about-me-box img{
        height: 290px;
    }

    .section-projects .image-box-project{
        margin-top: 50px;
        padding: 0px;
    }
    
    .section-projects .box-project{
        margin-bottom: 80px;
        padding-left: 20px;
        padding-right: 20px;     
    }

    .section-projects .box-project p{
        text-align: justify;
    }

    .skills-box{
        padding: 0px;
    }
}

@media screen and (max-width: 768px){
    .navbar-brand{
        margin-top: -5px;
    }

    #navbarSupportedContent{
        background: rgba(0, 0, 0, 0.5);
        margin-right: -25px;
        margin-left: -25px;
    }

    #navbarSupportedContent a{
        padding-left: 15px;
    }

    .active .nav-link{
        background-color: rgba(0, 0, 0, 0.5);
        color: white !important;
    }

    #button-toggler{
        margin-top: -6px;
    }

    #about-me-box{
        padding: 10px;
    }

    #about-me-box img{
        height: 345px;
        margin-top: 15px;
    }

    .section-projects .image-box-project{
        margin-top: 90px;
        padding: 0px;
    }
    
    .section-projects .box-project{
        margin-bottom: 80px;
        padding-left: 20px;
        padding-right: 20px;     
    }

    .section-projects .box-project p{
        text-align: justify;
    }

    .skills-box{
        padding: 0px;
    }

    .contact-me-box{
        margin-top: 7%;
    }

    .button-up{
        border-radius: 50px;
        padding: 14px;
    }
}

@media screen and (min-width: 600px) and (max-width: 767px){
    #about-me-box img{
        height: 190px;
        width: 30%;
        margin-top: 50px;
    }

    .section-projects .image-box-project{
        padding-left: 100px;
        padding-right: 100px; 
    }
    
    .section-projects .box-project{
        padding-left: 110px;
        padding-right: 110px;
        margin-top: 0px;
    }

    .section-projects .box-project p{
        text-align: justify;
    }

    .skills-box{
        padding: 55px;
    }
}

@media screen and (min-width: 425px) and (max-width: 599px){
    #about-me-box{
        padding: 55px;
    }

    #about-me-box img{
        height: 370px;
        width: 100%;
    }

    .section-projects .image-box-project{
        margin-top: 30px;
        padding-left: 55px;
        padding-right: 55px; 
    }
    
    .section-projects .box-project{
        padding-left: 70px;
        padding-right: 70px;
        margin-top: 0px;
    }

    .section-projects .box-project p{
        text-align: justify;
    }

    .skills-box{
        padding: 55px;
    }

    .contactHeader{
        margin-top: 30%;
    }
}

@media screen and (min-width: 411px) and (max-width: 424px){
    #about-me-box{
        padding: 50px;
    }

    #about-me-box img{
        height: 370px;
        width: 100%;
    }

    .section-projects .image-box-project{
        margin-top: 30px;
        padding-left: 45px;
        padding-right: 45px; 
    }
    
    .section-projects .box-project{
        padding-left: 60px;
        padding-right: 60px;
        margin-top: 0px;
    }

    .section-projects .box-project p{
        text-align: justify;
    }

    .skills-box{
        padding: 55px;
    }

    .contactHeader{
        margin-top: 30%;
    }
}

@media screen and (min-width: 375px) and (max-width: 410px){
    #about-me-box{
        padding: 35px;
    }

    #about-me-box img{
        height: 345px;
        width: 100%;
    }
    
    .section-projects .image-box-project{
        margin-top: 30px;
        padding-left: 35px;
        padding-right: 35px; 
    }
    
    .section-projects .box-project{
        padding-left: 50px;
        padding-right: 50px;
        margin-top: 0px;
    }

    .section-projects .box-project p{
        text-align: justify;
    }

    .skills-box{
        padding: 35px;
    }

    .contactHeader{
        margin-top: 38%;
    }
}

@media screen and (min-width: 360px) and (max-width: 374px){
    #about-me-box{
        padding: 35px;
    }

    #about-me-box img{
        height: 345px;
        width: 100%;
    }

    .section-projects .image-box-project{
        margin-top: 30px;
        padding-left: 35px;
        padding-right: 35px;
    }
    
    .section-projects .box-project{
        padding-left: 50px;
        padding-right: 50px;
        margin-top: 0px;
    }

    .section-projects .box-project p{
        text-align: justify;
    }

    .skills-box{
        padding: 35px;
    }

    .contactHeader{
        margin-top: 38%;
    }
}

@media screen and (min-width: 320px) and (max-width: 359px){
    .navbar-brand{
        margin-top: -5px;
    }

    #button-toggler{
        margin-top: -6px;
    }

    #navbarSupportedContent{
        background: rgba(0, 0, 0, 0.5);
    }

    .active .nav-link{
        background-color: rgba(0, 0, 0, 0.5);
        color: white !important;
    }

    #about-me-box{
        padding: 20px;
    }

    #about-me-box img{
        height: 345px;
        width: 100%;
    }

    .section-projects .image-box-project{
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 30px; 
    }
    
    .section-projects .box-project{
        padding-left: 35px;
        padding-right: 35px;
        margin-top: 0px;
    }

    .section-projects .box-project p{
        text-align: justify;
    }

    .skills-box{
        padding: 10px;
    }

    .contactHeader{
        margin-top: 38%;
    }

    .contact-me-box{
        margin-top: 15%;
    }
}