body{
    background: #F2F2F2;
}

p{
    font-family: 'Open Sans', sans-serif;
}

.navbar-brand{
    font-family: 'Abril Fatface';
    font-size: 25px;
    color: white !important;
}

.nav-link{
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    color: white !important;
}

.nav-link:hover{
    color: #000 !important;
}

.active .nav-link{
    background-color: white;
    color: #000 !important;
}

#caption{
    font-family: 'Bad Script', cursive;
}

header{
    position: relative;
    z-index: 1000000;
}

.navbar{
    background: transparent;
}

.banner{
    position: relative;
    top: 0;
    width: 100%;
    height: 100vh;
    background: url(../../images/city-landing.jpg);
    background-attachment: fixed;
    background-size: cover; 
}

.banner:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background: linear-gradient(#000, transparent);
    pointer-events: none;
}

.height100p{
    height: 100vh;
}

.height{
    height: 100%;
}

.contentBox{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.section-about{
    background: white;
}

.section-projects{
    margin-top: 2%;
    background: white;
}

.section-skills{
    margin-top: 2%;
    background-image: radial-gradient(circle, #4ba2bd, #398aa8, #287392, #155c7d, #004767);
    color: white;
}

.section-contact{
    margin-top: 2%;
    position: relative;
    background: url(../../images/contact-background\ \(2\).jpg);
    width: 100%;
    height: 90vh;
    background-attachment: fixed;
    background-size: cover;
}

#about-me-box{
    padding: 20px;
}

.responsive-img img{
    height: auto;
    width: 100%;
}

.projectBox{
    padding: 18px;
}

.card{
    width: 20rem;
}

.projectBox a{
    background: #000;
    color: white;
}

.skills-box{
    margin-top: 5%;
    margin-bottom: 25%;
    padding: 20px;
}

.skills-height{
    margin-top: 4%;
}

ul.style-ul{
    list-style-type: square;
}

.contactHeader{
    margin-top: 20%;
    color: white;
}

.contact-me-box{
    margin-top: 15%;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background: rgba(0, 0, 0, 0.4);
}

footer{
    background: #3B3C36;
}

footer ul{
    list-style-type: none;
}

footer a{
    color: white;
}

footer a:hover{
    color: white;
}

@media screen and (max-width: 1024px){
    #about-me-box{
        padding: 10px;
    }

    #about-me-box img{
        height: 290px;
    }

    .section-projects .card{
        width: 17rem;
    }

    .projectBox{
        padding: 8px;
    }

    .projectBox .card a{
        margin-bottom: 5px;
    }

    .skills-box{
        padding: 0px;
    }
}

@media screen and (max-width: 768px){
    #about-me-box{
        padding: 10px;
    }

    .section-projects .card{
        width: 13rem;
    }

    .projectBox{
        padding: 0px;
    }

    .projectBox .card a{
        margin-bottom: 5px;
    }

    .skills-box{
        padding: 0px;
    }
}

@media screen and (max-width: 320px){
    #about-me-box{
        padding: 20px;
    }

    .projectBox{
        padding: 20px;
    }

    .section-projects .card{
        width: 16rem;
    }

    .projectBox .card a{
        margin-bottom: 5px;
    }

    .skills-box{
        padding: 10px;
    }
}